In [1]:
import pandas as pd

In [ ]:
df1 =pd.read_excel('2017_1_cali.xlsx')

In [ ]:
df2 =pd.read_excel('2017_2_cali.xlsx')

In [ ]:
df3 =pd.read_excel('2018_1_cali.xlsx')

In [ ]:
df4 =pd.read_excel('2018_2_cali.xlsx')

In [ ]:
df5 =pd.read_excel('2019_1_cali.xlsx')

In [ ]:
df6 =pd.read_excel('2019_2_cali.xlsx')

In [ ]:
df7 =pd.read_excel('2020_1_cali.xlsx')

In [ ]:
df8 =pd.read_excel('2020_2_cali.xlsx')

In [ ]:
df12=pd.read_excel('2021_1_cali.xlsx')

In [ ]:
df9 =pd.read_excel('2021_2_cali.xlsx')

In [ ]:
df10 =pd.read_excel('2022_1_cali.xlsx')

In [ ]:
df11 =pd.read_excel('2022_2_cali.xlsx')

In [ ]:
df_todos = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12],ignore_index=True)

In [ ]:
df_todos.shape

(140757, 87)

In [ ]:
df_todos.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_ETNIA,...,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_PILOPAGA,ESTU_LIMITA_MOTRIZ,ESTU_GENERACION-E,ESTU_GENERACIONE,ESTU_INSE_INDIVIDUAL.1,PERCENTIL_ESPECIAL_GLOBAL
0,TI,COLOMBIA,F,2000-09-02 00:00:00,20171,SB11201710008394,ESTUDIANTE,COLOMBIA,No,NaN,...,6.986779e+09,NSE4,4.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
1,TI,COLOMBIA,F,2000-05-25 00:00:00,20171,SB11201710015727,ESTUDIANTE,COLOMBIA,No,NaN,...,6.763233e+09,NSE4,4.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
2,TI,COLOMBIA,F,2000-08-05 00:00:00,20171,SB11201710028846,ESTUDIANTE,COLOMBIA,No,NaN,...,6.539242e+09,NSE4,3.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
3,TI,COLOMBIA,M,2000-02-03 00:00:00,20171,SB11201710007085,ESTUDIANTE,COLOMBIA,No,NaN,...,6.888281e+09,NSE4,4.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
4,TI,COLOMBIA,F,1999-09-02 00:00:00,20171,SB11201710026209,ESTUDIANTE,COLOMBIA,No,NaN,...,6.076862e+09,NSE3,3.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_todos.to_csv('cali_publicos_privados_2017_2022.csv',index=False)

Convertir la variable "ESTU_FECHANACIMIENTO" y extraer la edad.

In [ ]:
df_todos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140757 entries, 0 to 140756
Data columns (total 87 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   ESTU_TIPODOCUMENTO             140757 non-null  object
 1   ESTU_NACIONALIDAD              140757 non-null  object
 2   ESTU_GENERO                    140748 non-null  object
 3   ESTU_FECHANACIMIENTO           140757 non-null  object
 4   PERIODO                        140757 non-null  int64
 5   ESTU_CONSECUTIVO               140757 non-null  object
 6   ESTU_ESTUDIANTE                140757 non-null  object
 7   ESTU_PAIS_RESIDE               140757 non-null  object
 8   ESTU_TIENEETNIA                138638 non-null  object
 9   ESTU_ETNIA                     2388 non-null    object
 10  ESTU_DEPTO_RESIDE              140543 non-null  object
 11  ESTU_COD_RESIDE_DEPTO          140543 non-null  float64
 12  ESTU_MCPIO_RESIDE              140543 non-null  object
 13  ESTU_COD_RESIDE_MCPIO          140543 non-null  float64
 14  FAMI_EDUCACIONPADRE            131568 non-null  object
 15  FAMI_EDUCACIONMADRE            131552 non-null  object
 16  FAMI_ESTRATOVIVIENDA           130777 non-null  object
 17  FAMI_PERSONASHOGAR             134386 non-null  object
 18  FAMI_CUARTOSHOGAR              134289 non-null  object
 19  FAMI_TIENEINTERNET             131397 non-null  object
 20  FAMI_TIENECOMPUTADOR           134299 non-null  object
 21  FAMI_TIENELAVADORA             134425 non-null  object
 22  FAMI_TIENEHORNOMICROOGAS       134211 non-null  object
 23  FAMI_TIENESERVICIOTV           131070 non-null  object
 24  FAMI_TIENEAUTOMOVIL            134025 non-null  object
 25  FAMI_TIENEMOTOCICLETA          134203 non-null  object
 26  FAMI_TIENECONSOLAVIDEOJUEGOS   134087 non-null  object
 27  FAMI_NUMLIBROS                 129419 non-null  object
 28  FAMI_COMELECHEDERIVADOS        130371 non-null  object
 29  FAMI_COMECARNEPESCADOHUEVO     130913 non-null  object
 30  FAMI_COMECEREALFRUTOSLEGUMBRE  130649 non-null  object
 31  FAMI_TRABAJOLABORPADRE         133841 non-null  object
 32  FAMI_TRABAJOLABORMADRE         134089 non-null  object
 33  FAMI_SITUACIONECONOMICA        134083 non-null  object
 34  ESTU_DEDICACIONLECTURADIARIA   131170 non-null  object
 35  ESTU_DEDICACIONINTERNET        130895 non-null  object
 36  ESTU_HORASSEMANATRABAJA        134183 non-null  object
 37  ESTU_TIPOREMUNERACION          133774 non-null  object
 38  COLE_CODIGO_ICFES              140757 non-null  int64
 39  COLE_COD_DANE_ESTABLECIMIENTO  140757 non-null  int64
 40  COLE_NOMBRE_ESTABLECIMIENTO    140757 non-null  object
 41  COLE_GENERO                    140757 non-null  object
 42  COLE_NATURALEZA                140757 non-null  object
 43  COLE_CALENDARIO                140757 non-null  object
 44  COLE_BILINGUE                  122359 non-null  object
 45  COLE_CARACTER                  134261 non-null  object
 46  COLE_COD_DANE_SEDE             140757 non-null  int64
 47  COLE_NOMBRE_SEDE               140757 non-null  object
 48  COLE_SEDE_PRINCIPAL            140757 non-null  object
 49  COLE_AREA_UBICACION            140757 non-null  object
 50  COLE_JORNADA                   140757 non-null  object
 51  COLE_COD_MCPIO_UBICACION       140757 non-null  int64
 52  COLE_MCPIO_UBICACION           140757 non-null  object
 53  COLE_COD_DEPTO_UBICACION       140757 non-null  int64
 54  COLE_DEPTO_UBICACION           140757 non-null  object
 55  ESTU_PRIVADO_LIBERTAD          140757 non-null  object
 56  ESTU_COD_MCPIO_PRESENTACION    140756 non-null  float64
 57  ESTU_MCPIO_PRESENTACION        140756 non-null  object
 58  ESTU_DEPTO_PRESENTACION        140756 non-null  object
 59  ESTU_COD_DEPTO_PRESENTACION    140756 non-null  float64
 60  PUNT_LECTURA_CRITICA           140757 non-null  int64
 61  PERCENTIL_LECTURA_CRITICA      140757 non-null  int64
 62  DESEMP_LECTURA_CRITICA         140757 non-null  int64
 63  PUNT_MATEMATICAS               140757 non-null  int64
 64  PERCENTIL_MATEMATICAS          140757 non-null  int64
 65  DESEMP_MATEMATICAS             140757 non-null  int64
 66  PUNT_C_NATURALES               140757 non-null  int64
 67  PERCENTIL_C_NATURALES          140757 non-null  int64
 68  DESEMP_C_NATURALES             140757 non-null  int64
 69  PUNT_SOCIALES_CIUDADANAS       140757 non-null  int64
 70  PERCENTIL_SOCIALES_CIUDADANAS  140757 non-null  int64
 71  DESEMP_SOCIALES_CIUDADANAS     140757 non-null  int64
 72  PUNT_INGLES                    140671 non-null  float64
 73  PERCENTIL_INGLES               140691 non-null  float64
 74  DESEMP_INGLES                  140691 non-null  object
 75  PUNT_GLOBAL                    140757 non-null  int64
 76  PERCENTIL_GLOBAL               140674 non-null  float64
 77  ESTU_INSE_INDIVIDUAL           119677 non-null  float64
 78  ESTU_NSE_INDIVIDUAL            119677 non-null  object
 79  ESTU_NSE_ESTABLECIMIENTO       125141 non-null  float64
 80  ESTU_ESTADOINVESTIGACION       140757 non-null  object
 81  ESTU_PILOPAGA                  22139 non-null   object
 82  ESTU_LIMITA_MOTRIZ             0 non-null       float64
 83  ESTU_GENERACION-E              69589 non-null   object
 84  ESTU_GENERACIONE               5687 non-null    object
 85  ESTU_INSE_INDIVIDUAL.1         4848 non-null    float64
 86  PERCENTIL_ESPECIAL_GLOBAL      300 non-null     float64
dtypes: float64(12), int64(19), object(56)
memory usage: 93.4+ MB

In [2]:
df = pd.read_csv('/content/cali_publicos_privados_2017_2022.csv')

<ipython-input-2-57d5cb4fc101>:1: DtypeWarning: Columns (9,78,81,83,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/cali_publicos_privados_2017_2022.csv')

In [8]:
df['ESTU_FECHANACIMIENTO'] = pd.to_datetime(df['ESTU_FECHANACIMIENTO'],errors='coerce')

In [10]:
df.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_ETNIA,...,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_PILOPAGA,ESTU_LIMITA_MOTRIZ,ESTU_GENERACION-E,ESTU_GENERACIONE,ESTU_INSE_INDIVIDUAL.1,PERCENTIL_ESPECIAL_GLOBAL
0,TI,COLOMBIA,F,2000-09-02,20171,SB11201710008394,ESTUDIANTE,COLOMBIA,No,NaN,...,6.986779e+09,NSE4,4.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
1,TI,COLOMBIA,F,2000-05-25,20171,SB11201710015727,ESTUDIANTE,COLOMBIA,No,NaN,...,6.763233e+09,NSE4,4.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
2,TI,COLOMBIA,F,2000-08-05,20171,SB11201710028846,ESTUDIANTE,COLOMBIA,No,NaN,...,6.539242e+09,NSE4,3.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
3,TI,COLOMBIA,M,2000-02-03,20171,SB11201710007085,ESTUDIANTE,COLOMBIA,No,NaN,...,6.888281e+09,NSE4,4.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN
4,TI,COLOMBIA,F,1999-09-02,20171,SB11201710026209,ESTUDIANTE,COLOMBIA,No,NaN,...,6.076862e+09,NSE3,3.0,PUBLICAR,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['anio_presentacion'] = df['PERIODO'].astype(str).str[:4]

In [14]:
df['anio_presentacion'] = pd.to_datetime(df['anio_presentacion'],errors='coerce')

In [15]:
df['edad'] = (df['anio_presentacion'] - df['ESTU_FECHANACIMIENTO']).dt.days // 365

Transformar la variable: ESTU_INSE_INDIVIDUAL para que quede en dos digitos.

In [18]:
df['INSE'] = df['ESTU_INSE_INDIVIDUAL'].astype(str).str[:2] + '.' + df['ESTU_INSE_INDIVIDUAL'].astype(str).str[2:3]

# Convertir a float
df['INSE'] = pd.to_numeric(df['INSE'], errors='coerce')

Eliminar estas variables: ESTU_PILOPAGA, ESTU_LIMITA_MOTRIZ, ESTU_GENERACION-E, ESTU_GENERACIONE,ESTU_INSE_INDIVIDUAL, PERCENTIL_ESPECIAL_GLOBAL, anio_presentacion,ESTU_FECHANACIMIENTO,ESTU_INSE_INDIVIDUAL.1

In [23]:
columnas=['ESTU_PILOPAGA','ESTU_LIMITA_MOTRIZ','ESTU_GENERACION-E','ESTU_GENERACIONE','ESTU_INSE_INDIVIDUAL','PERCENTIL_ESPECIAL_GLOBAL','anio_presentacion','ESTU_FECHANACIMIENTO','ESTU_INSE_INDIVIDUAL.1']

In [25]:
columnas=['ESTU_FECHANACIMIENTO','ESTU_INSE_INDIVIDUAL.1']

In [26]:
df.drop(columns=columnas,inplace=True)

In [27]:
df.to_csv('cali_publicos_privados_2017_2022vf.csv',index=False)